.dialogue-box-screen {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    align-items: center;
}

.dialogue-box {
    margin-top: 50px;
    min-width: 880px;
    max-width: 960px;
}

.dialogue-box__choices {
    margin-top: 20px;
}
